body {
    background: linear-gradient(to right, black, #5555);
    margin-left: 20px;
    background-image: url("Design sem nome.png");

}


.navbar-expand-lg {
    background-color: #efcbcb55; /* Alterado para #5555 */
    color: white;
    border-radius: 12px;
    margin-top: 10px;
    transition: transform 0.3s ease;

}

.navbar-expand-lg .nav-link {
    color: white;
}

.navbar-expand-lg .nav-link:hover {
    color: #686146;
}

.navbar-expand-lg:hover {
    transform: scale(1.1);
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="white" stroke-width="3" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.navbar-brand {
    color: white;
}

#titulo {
    color: white;
    font-family: 'Open Sauce'; /* Fonte ajustada */
    margin-top: 5px;
}

#bem-vindo {
    font-family: 'Brown Sugar';
    font-size: 120px;
    margin: 10px 0;
    color: white;
    text-align: center; /* Centraliza o título de boas-vindas */
}

#conhecimento-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os blocos de conhecimento */
    margin-top: 20px;
    width: 100%; /* Garante que o contêiner ocupe toda a largura */
}

/* Estilos para as divs individuais */
.knowledge-block {
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    margin: 10px; /* Margem padrão para espaçamento */
    color: white;
    flex: 1;
    min-width: 250px; /* Largura mínima para evitar divs muito finas */
    max-width: 31%; /* Limitar a largura em telas grandes */
    box-sizing: border-box; /*define borda comum*/
    transition: transform 0.3s ease;
}

/* Media query para telas menores */
@media (max-width: 768px) {
    .knowledge-block {
        max-width: 75%; /* Aumentar a largura máxima em telas menores */
        margin: 5px auto; /* Centraliza os blocos */
        flex: none; /* Para remover o comportamento flex */
    }
}

/* Estilo de hover permanece o mesmo */
.knowledge-block:hover {
    transform: scale(1.1);
}

        #btn1 {
            color: black;
        }
        #btn2 {
         color: black;   
        }
        #sobre-p {
            color: black;
        }
        #discord {
            color: black;
        }
        .modal-title {
            color: black;
        }
        /* Animação para entrada da esquerda */
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/* Aplicando a animação na navbar, título, bem-vindo e divs */
.navbar-expand-lg,
#titulo,
#bem-vindo,
.knowledge-block {
    animation: slideIn 1s ease-out;
}